/* User this to override the panel-button padding */
.reduced-padding {
    -natural-hpadding: 8px;
    -minimum-hpadding: 5px;
}

/* This is applied to reduce the spacing between buttons */
.panel-spacing {
    spacing: 0px;
}